<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Login Success</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div align="center" >
    <div th:if="${verifieduser} != 'null'">
<!--    <div th:if="${not #isEmpty(verifieduser)}">-->
    <h2> Welcome !
        <p th:text="${verifieduser.userName}"></p>
       </h2>
    <h2>You have logged in successfully!</h2>
    <h2><a href="/welcome"> Home</a></h2>
    </div>
    </div>
<div th:if="${verifieduser} == 'null'">
    <h2>Log in unsuccessful! Please <a href="/welcome">login</a> again</h2>
</div>
</body>
</html>