<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Patient details</title>

</head>
<body>
<div class="container">

    <div align="center">
        <h2>Registration successful!</h2>
        <h3>Patient Details</h3>

        <form class="form-horizontal">

            <div class="form-group">
                <label class="col-sm-2 control-label">Patient Id:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${patient.patientId}">Patient Id</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Patient Name:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${patient.patientFirstName}">Patient Name</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Patient Last Name:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${patient.patientLastName}">Patient Name</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Patient email</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${patient.patientEmail}">Patient email</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Patient Complaint</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${patient.patientProblem}">Patient Complaint</p>
                </div>
            </div>
            <div>
                <h4><a href="/index">Click here to Login</a></h4>
            </div>
        </form>
    </div>
</div>

</body>
</html>